absl-python
charset-normalizer
click
colorama
contourpy
cvzone
cycler
flatbuffers
fonttools
kiwisolver
matplotlib
mediapipe
opencv-contrib-python
opencv-python
opencv-python-headless
pycparser
pyparsing
sounddevice
streamlit
